<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WPF_UI" value="Plugin.UI.WPFTest.exe" />
    <add key="WPF_BL" value="Plugin.BL.WPFBusiness.dll" />
  </appSettings>
  <custom>
    <instance key="WPF_UI" class="Plugin.UI.WPFTest.Main" dll="Plugin.UI.WPFTest.exe" />
    <instance key="WPF_BL" class="Plugin.BL.WPFBusiness.Main" dll="Plugin.BL.WPFBusiness.dll" />
    <!--<instance key="ERP_BLService" class="ERP.BLService.Module" dll="ERP.BLService.dll" />
    <instance key="ERP_UI" class="ERP.UI.Module" dll="ERP.UI.exe" />-->
  </custom>
</configuration>